# User config
LESSON_COUNT=3
CHANCE_OF_PASSING=1.2 # 1 - pass every time, 1.5 - pass every 1.5 questions, 2 - pass every 2 questions

EMAIL="Your email"
PASSWORD="Your password"

# Automation
ENABLE_CHALLENGES=0
AUTOMATED_LOGIN=0
HEADLESS=0
SCRAPE=0
APPEND_TO_DB=1
LOCKUP_PREVENTION=1
CLEAR_DB_BEFORE_SESSION=0

# For debugging
VERBOSE=0
FORCE_WAIT_SEC=0
